<div class="custom-modal-header">
    <h5 class="center-content">
        Change Password
        <span class="btn-close float-right" (click)="closeModal()">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </span>
    </h5>
</div>
<div class="custom-modal-body">
    <form #changePasswordForm="ngForm" novalidate>
        
        <div class="form-group">
            <label for="password">Current Password*:</label>
            <input type="password" id="password" class="form-control" name="password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter your current password" [(ngModel)]="passwordModel.currentPassword" />
            <small class="text-danger" *ngIf="password.invalid && password.touched">Password is required.</small>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password*:</label>
            <input type="password" id="newPassword" class="form-control" name="newPassword" required #newPassword="ngModel" [class.is-invalid]="newPassword.invalid && newPassword.touched" placeholder="Enter new password" [(ngModel)]="passwordModel.newPassword" />
            <small class="text-danger" *ngIf="newPassword.invalid && newPassword.touched">This field is required.</small>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm New Password*:</label>
            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" required #confirmPassword="ngModel" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" placeholder="Enter your current password" [(ngModel)]="passwordModel.confirmNewPassword" />
            <small class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">This field is required.</small>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-1"></div>
            <div class="col-md-6 col-12 right-content">
                <button type="submit" [disabled]="changePasswordForm.form.invalid" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</div>
