# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/NgMakeMySkills/dist
/NgMakeMySkills/tmp
/NgMakeMySkills/out-tsc
# Only exists if Bazel was run
/NgMakeMySkills/bazel-out

# dependencies
/NgMakeMySkills/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/NgMakeMySkills/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/NgMakeMySkills/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/NgMakeMySkills/.sass-cache
/NgMakeMySkills/connect.lock
/NgMakeMySkills/coverage
/NgMakeMySkills/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/NgMakeMySkills/typings

# System Files
/NgMakeMySkills/.DS_Store
/NgMakeMySkills/Thumbs.db



/MakeMySkills/.vs
/MakeMySkills/MakeMySkills/bin




bin
obj
.vs



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-makemyskills/node_modules
react-makemyskills/.pnp
react-makemyskills/.pnp.js

# testing
react-makemyskills/coverage

# production
react-makemyskills/build

# misc
react-makemyskills/.DS_Store
react-makemyskills/.env.local
react-makemyskills/.env.development.local
react-makemyskills/.env.test.local
react-makemyskills/.env.production.local

react-makemyskills/npm-debug.log*
react-makemyskills/yarn-debug.log*
react-makemyskills/yarn-error.log*

