@import url('https://fonts.googleapis.com/css?family=Rokkitt|Yeon+Sung&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

body {
  margin: 0;
  font-family: 'Rokkitt', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-container{
  min-height: calc(100vh - 50px);
  padding-top: 60px;
}
.center-content{
  text-align: center;    
}