<div class="custom-body">
    <div class="progress-row">
        <span class="inline-block progress complete">
            <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <div class="inline-block progress-interval"></div>
        <span class="inline-block progress">
            <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <div class="inline-block progress-interval"></div>
        <span class="inline-block progress">
            <i class="fa fa-check" aria-hidden="true"></i>
        </span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 center-content">
                <h4 class="text-primary">Create Online Test</h4>
                <p>
                    These settings will control the newly created test. You can also edit these settings anytime later.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-12">
                <div class="custom-modal-header">
                    <h5 class="center-content">
                        Basic Settings
                    </h5>
                </div>
                <div class="custom-modal-body shadow">
                    <form #createTestForm="ngForm" novalidate>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="testTitle">Test Title*:</label>
                            </div>
                            <div class="col-md-8 col-12">
                                <input type="text" id="testTitle" class="form-control" placeholder="E.g. Weekly test"
                                    autocomplete="false" name="testTitle" [(ngModel)]="newTest.testName" required />
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="testTopic">Test Topic*:</label>
                            </div>
                            <div class="col-md-8 col-12">
                                <select id="testTopic" class="form-control" name="testTopic" [(ngModel)]="newTest.topicId" required >
                                    <option value="0">Select Topic</option>
                                    <option *ngFor="let item of topics" value="{{item.topicId}}">{{item.topicName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="timeLimit">Time Limit:</label>
                            </div>
                            <div class="col-md-2 col-12 right-content">
                                <input type="number" min="0" value="0" id="timeLimit" class="form-control" name="timeLimit" [(ngModel)]="newTest.timeLimit" />
                            </div>
                            <div class="col-md-6 col-12">
                                <small> (in minutes) Leave Empty for no time limit</small>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="correctAnswerMarks">Correct Answer Marks*:</label>
                            </div>
                            <div class="col-md-2 col-12 right-content">
                                <input type="number" min="0" id="correctAnswerMarks" class="form-control" name="correctAnswerMarks" [(ngModel)]="newTest.correctAnswerMarks" />
                            </div>
                            <div class="col-md-6 col-12">
                                <small> marks</small>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="negetiveMarking">Negetive Marking*:</label>
                            </div>
                            <div class="col-md-2 col-12 right-content">
                                <input type="number" min="0" id="negetiveMarking" class="form-control" name="negetiveMarking" [(ngModel)]="newTest.negetiveMarking" />
                            </div>
                            <div class="col-md-6 col-12">
                                <small> 0 means No Negative Marking</small>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="col-md-4 col-12 right-content">
                                <label for="passingPercentage">Passing Percentage*:</label>
                            </div>
                            <div class="col-md-2 col-12 right-content">
                                <input type="number" min="0" id="passingPercentage" class="form-control" name="passingPercentage" [(ngModel)]="newTest.passingPercentage"  />
                            </div>
                            <div class="col-md-6 col-12">
                                <small> %, 0 mean No Pass-Fail Concept</small>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 col-12">
                                <label class="checkbox">
                                    <input type="checkbox" name="SuffleQuestions" [(ngModel)]="newTest.suffleQuestions" /> Shuffle Questions
                                </label>
                                <br />
                                <label class="checkbox">
                                    <input type="checkbox" name="suffleAnswers" [(ngModel)]="newTest.suffleAnswers" /> Shuffle Options
                                </label>
                                <br />
                                <label class="checkbox">
                                    <input type="checkbox" name="allowMultiple" [(ngModel)]="newTest.allowMultiple" /> Allow students to attempt test multiple times
                                </label>
                                <br />
                                <label class="checkbox">
                                    <input type="checkbox" name="revealAnswers" [(ngModel)]="newTest.revealAnswers" /> Reveal Correct Answers on test completion
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="right-content">
                            <button type="submit" class="btn btn-primary" [disabled]="createTestForm.form.invalid" (click)="createTest()" >
                                Save and Proceed
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>