<div class="container custom-body">
    <div class="admin-dashboard">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                        Subjects
                        <button class="btn btn-light" (click)="openSubjectModal(subjectModal)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        <input type="text" class="form-control float-right search-control" placeholder="search..." />
                    </div>
                    <div class="card-body subject-section">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <ul>
                                    <li *ngFor="let item of subjects">
                                        <span class="btn-link">{{item}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-12">
                                <ul>
                                    <li *ngFor="let item of subjects">
                                        <span class="btn-link">{{item}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">Users Stats</div>
                    <div class="card-body">Content</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 test-section">
                <div class="row filter-section">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="subjects">Filter By Subjects:</label>
                            <select class="form-control" id="subjects">
                                <option>Subject One</option>
                                <option>Subject Two</option>
                                <option>Subject Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="createdAfter">Created after:</label>
                            <input type="date" class="form-control" id="createdAfter" />
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    material datatable for tests with sorting and paging
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #subjectModal>
    <div class="custom-modal-header">
        <h5 class="center-content">
            Add/Update Subjects
            <span class="btn-close float-right" (click)="closeModal()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </span>
        </h5>
    </div>
    <div class="custom-modal-body">
        <form #subjectForm="ngForm" novalidate>
    
            <div class="form-group">
                <label for="topic">Topic Name*:</label>
                <input type="text" id="topic" class="form-control" placeholder="E.g. Verbal ability" name="topicName" required #topic="ngModel"
                    [class.is-invalid]="topic.invalid && topic.touched" [(ngModel)]="topicData.topic" />
                <small class="text-danger" *ngIf="topic.invalid && topic.touched">Topic Name is required.</small>
            </div>
            
            <!-- <div class="form-group">
                <label for="password">Password*:</label>
                <input type="password" id="password" class="form-control" name="password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="Enter your password" [(ngModel)]="loginData.password" />
                <small class="text-danger" *ngIf="password.invalid && password.touched">Password is required.</small>
            </div> -->
            
            <div class="row">
                <div class="col-md-6 col-12"></div>
                <div class="col-md-6 col-12 right-content">
                    <button type="submit" [disabled]="subjectForm.form.invalid" (click)="addSubject()" class="btn btn-primary">Add Now</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>