body{
    padding-top: 0 !important;
}
.hero-bg{
    min-height: 100vh;
    width: 100%;
}
.hero-bg video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
}
.hero-brand-text{
    color: white;
    animation: changeColor 3s infinite;
}
@keyframes changeColor {
    50% {color: lightseagreen;}
    /* 75% {color: greenyellow;} */
}
.hero-content-wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.scroll-down{
    font-size: 1.5em;
    cursor: pointer;
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: -10px;
    }
    50% {
      bottom: 0px;
    }
}
.stats-container{
    position: absolute;
    bottom: 0;
    color: white;
}
.stats-row{
    margin: 20px 0px;
}
.card{
    margin: 10px 0px;
    padding: 20px 20px 10px 20px;
}
.card-body{
    padding-bottom: 10px;
}
.test-logo{
    font-size: 1.5em;
}
.btn-start-test{
    padding: 5px 10px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}
.btn-start-test:hover{
    background-color: lightgray;
}
.shadow {
    transition: all 0.5s ease;
}
.shadow:hover{
    border: 1px solid gray;
    border-radius: 10px;
}
.trending-container{
    margin-bottom: 20px;
}
.trending-header{
    padding: 20px 0px 10px 0px;
}

@media only screen and (max-width: 600px) {
    .stats-container {
        position: static;
        color: black;
        border-bottom: 1px solid gray;
    }
    .stats-container br{
        display: none;
    }
  }