<div class="itemset" [ngsRevealSet]="{ reset:true}" [ngsSelector]="'.item'">
    <div class="card center-content shadow item" ngsReveal>
        <button class="btn btn-link"></button>
        <span class="test-logo">
            <i class="fa fa-laptop" aria-hidden="true"></i>
        </span>
        <h5>{{test.testName}}</h5>
        <p>
            Subject : {{test.topicId}}
            <br />
            Duration :  {{test.timeLimit}} mins
            <br />
            Added on : {{test.dateAdded}}
        </p>
        <a href="#" class="btn-start-test" *ngIf="test.displayFromHome">
            Start Test
        </a>
        <div class="btn-group" *ngIf="!test.displayFromHome">
            <a href="/update-test/{{test.testGuid}}" class="btn btn-outline-primary">View</a>
            <div class="btn btn-outline-primary">Publish</div>
            <div class="btn btn-outline-danger">Delete</div>
        </div>
    </div>
</div>