.navbar-light{
    background: lightgray;
}
.footer{
    height: 50px;
    line-height: 50px;
    color: darkslategray;
    background: lightgray;
}
.fa-social{
    margin: 0px 10px;
    font-size: 1.2em;
    color: darkslategray;
}