body{
    overflow: hidden;
}
.online-test-container{
    height: 100vh;
    padding-top: 60px;
}
.btn-light{
    border: 1px solid gray;
    margin: 5px;
}

.bg-dark {
    background: darkslategray !important;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

p {
    margin-bottom: 0px;
    line-height: 1.5;
}

.border {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    position: relative;
    min-height: 50px;
    cursor:pointer;
}

.border:hover {
    background: #fff; 
}

/* .border:active {
    border: 1px solid #1BA9F9 !important;
    background: #fff;
} */

.border-active {
    border: 1px solid #1BA9F9 !important;
    background: #fff;
}

.positon-absolute {
    position: absolute;
}

.qn-no-icon {
    background: #ddd;
    border: 1px solid #ddd;
    top: 8px;
    padding-top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}

/* .border:active > .qn-no-icon {
    box-shadow: 0px 0px 5px 1px #31B0D5 !important;
} */

.qn-no-icon-active {
    box-shadow: 0px 0px 5px 1px #31B0D5 !important;
}

.right-top-pallete .qn-no-icon:hover {
    box-shadow: 0px 0px 5px 1px #31B0D5 !important;
}

.marker-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 8px;
    display: inline-block;
}

.answered {
    background:rgb(14, 179, 14) !important;
}

.not-answered {
    background:#dc3545 !important; 
}

.marked {
    background:rgb(150, 7, 150) !important;
}

.not-visited {
    background: #ddd;
}

.marked-and-answered {
    background:rgb(14, 179, 14) !important;
    border:4px solid rgb(150, 7, 150) !important;
}

.qn-detail {
    margin-left: 30px;
    padding-left: 10px;
    color: #777;
    font-size: 14px;
}

.full-height {
    height: calc(100vh - 60px);
}

.left-pallete{
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding-right: 8px;
    margin-left: -6px;
}

.right-top-pallete {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

.question-body-wrapper {
    height: 366px;
    overflow: auto;
}

.question-body {
    position: relative;
    padding: 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    color: #555;
    font-size: 15px;
}

.question-text {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

table {
    width:100%;
}

.radio-option-width {
    width: 20px;
}

.option td {
    padding: 5px;
}

.option:hover {
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 5px;
}

.center-bottom-pallete {
    background: #f2f2f2;
    border-radius: 5px; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}
