<div class="container-fluid online-test-container">
    <div class="row">
        <div class="col-md-3 full-height">
            <div class="left-pallete">
                <h4 class="bg-dark p-2 mt-3">
                    Question List
                </h4>
                <div>
                    <h5 style="text-align: center;">Quantitative Ability</h5>
                    <div *ngFor="let number of [0,1,2,3,4]">
                        <div class="border">
                            <div class="qn-no-icon positon-absolute">{{number + 1}}</div>
                            <div class="qn-detail">
                                <p>The ratio of ages of mother and son is 5:2 and mother's age is 16.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 style="text-align: center;">Reasoning Ability</h5>
                    <div *ngFor="let number of [0,1,2,3,4]">
                        <div class="border">
                            <div class="qn-no-icon positon-absolute">{{number + 1}}</div>
                            <div class="qn-detail">
                                <p>The ratio of ages of mother and son is 5:2 and mother's age is 16.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 style="text-align: center;">Verbal Ability</h5>
                    <div *ngFor="let number of [0,1,2,3,4]">
                        <div class="border">
                            <div class="qn-no-icon positon-absolute">{{number + 1}}</div>
                            <div class="qn-detail">
                                <p>The ratio of ages of mother and son is 5:2 and mother's age is 16.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Select Section</legend>
                <button class="btn btn-light">Quantitive Ability(10)</button>
                <button class="btn btn-light">Reasoning Ability(15)</button>
                <button class="btn btn-light">Verbal Ability(15)</button>
            </fieldset>
            <p>
                <span>Question 1</span>
                <span class="float-right">
                    Time left: 119:59:59
                </span>
            </p>
            <div class="question-body-wrapper">
                <div class="question-body">
                    <div class="question-text">
                        Data Sufficiency:
                        What is the age of Principal?
                        (I) There are 14 students in a class.
                        (II) The average age of students and principal is 16 years.
                        (III) The average ageof 14 students is 3 less than the average of 14 students and Principal.Data Sufficiency:
                        What is the age of Principal?
                        (I) There are 14 students in a class.
                        (II) The average age of students and principal is 16 years.
                        (III) The average ageof 14 students is 3 less than the average of 14 students and Principal.Data Sufficiency:
                        What is the age of Principal?
                        (I) There are 14 students in a class.
                        (II) The average age of students and principal is 16 years.
                        (III) The average ageof 14 students is 3 less than the average of 14 students and Principal.
                    </div>
                    <table>
                        <tbody>
                            <tr class="option">
                                <td class="radio-option-width"><input type="radio" name="option"/></td>
                                <td class="radio-option-width"><strong>A.</strong></td>
                                <td>Both (II) and (III)</td>
                            </tr>
                            <tr class="option">
                                <td class="radio-option-width"><input type="radio" name="option"/></td>
                                <td class="radio-option-width"><strong>B.</strong></td>
                                <td>Both (I) and (III)</td>
                            </tr>
                            <tr class="option">
                                <td class="radio-option-width"><input type="radio" name="option"/></td>
                                <td class="radio-option-width"><strong>C.</strong></td>
                                <td>Both (I) and (II)</td>
                            </tr>
                            <tr class="option">
                                <td class="radio-option-width"><input type="radio" name="option"/></td>
                                <td class="radio-option-width"><strong>D.</strong></td>
                                <td>All (I), (II) and (III)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="center-bottom-pallete p-2">
                <button type="button" class="btn btn-sm btn-primary">Mark for Review</button>&nbsp;
                <button type="button" class="btn btn-sm btn-primary">Clear Response</button>
                <span style="float: right;"><button type="button" class="btn btn-sm btn-success">Save and Next&nbsp;<span class="fa fa-sm fa-arrow-right"></span></button></span>
            </div>
        </div>
        <div class="col-md-3 full-height">
            <div class="positon-relative right-top-pallete">
                <h5 style="text-align: center;">Quantitative Ability</h5>
                <div class="">
                    <span *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                    21,22,23,24,25,26,27,28,29,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                    21,22,23,24,25,26,27,28,29]" style="padding-left: 8px;">
                        <div class="qn-no-icon spacing">{{number + 1}}</div>
                    </span>
                </div>
            </div>
            <div class="right-bottom-pallete">
                <div class="col-sm-6 mb-2" style="display:inline-block">
                    <div class="marker-icon position-absolute" style="background:rgb(14, 179, 14)"></div>
                    <div style="font-size: 12px; margin-left:20px">&nbsp; Answered</div>
                </div>
                <div class="col-sm-6 mb-2" style="display:inline-block">
                    <div class="marker-icon position-absolute" style="background:#dc3545"></div>
                    <div style="font-size: 12px;margin-left:20px">&nbsp; Not Answered</div>
                </div>
                <div class="col-sm-6 mb-1" style="display:inline-block">
                    <span class="marker-icon position-absolute" style="background:rgb(150, 7, 150)"></span>
                    <span style="font-size: 12px;margin-left:20px">&nbsp; Marked</span>
                </div>
                <div class="col-sm-6 mb-1" style="display:inline-block">
                    <span class="marker-icon position-absolute" style="background: #ddd;"></span>
                    <Span style="font-size: 12px;margin-left:20px">&nbsp;Not Visited</Span>
                </div>
                <div class="col-sm-7" style="display:inline-block">
                    <span class="marker-icon position-absolute" style="background:rgb(14, 179, 14);border:4px solid rgb(150, 7, 150);"></span>
                    <span style="font-size: 12px;margin-left:20px">&nbsp;Marked & Answered</span>
                </div>
                <button class="btn btn-lg btn-danger fa fa-power-off" style="width: 100%;"> Finish Test</button>
            </div>
        </div>
    </div>
</div>