<div class="container-fluid online-test-container">
    <div class="row">
        <div class="col-md-3 full-height">
            <div class="left-pallete">
                <h4 class="bg-dark p-2 mt-1">
                    Question List
                </h4>
                <span *ngFor="let topic of topicWiseQuestionsList">
                    <div id="section{{topic.TopicNumber}}">
                        <h5 style="text-align: center;">{{topic.Name}}</h5>
                        <div *ngFor="let question of topic.Questions">
                            <div class="border" (click)="setSelectedQuestion(topic.TopicNumber,question.Qnumber)"
                            [ngClass]="{ 'border-active': 'section' + topic.TopicNumber + '-qnshort' + question.Qnumber == selectedQuestionNo }"
                            id="section{{topic.TopicNumber}}-qnshort{{question.Qnumber}}">
                                <div class="qn-no-icon positon-absolute"
                                    [ngClass]="{ 'qn-no-icon-active': 'section' + topic.TopicNumber + '-qnshort' + question.Qnumber == selectedQuestionNo,
                                    'not-answered': question.NotAnswered,
                                    'answered': question.Answered,
                                    'marked': question.Marked,
                                    'marked-and-answered': question.MarkedAndAnswered }">
                                    {{question.Qnumber}}
                                </div>
                                <div class="qn-detail">
                                    <p>{{question.Summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto" style="height:20px">Select Section</legend>
                <span *ngFor="let topic of topicWiseQuestionsList">
                    <button class="btn btn-sm btn-light" (click)="scrollAndActivateCurrentSection(topic.TopicNumber)">{{topic.Name}}({{topic.TotalQn}})</button>
                </span>
            </fieldset>
            <p>
                <span>Question {{currentQuestionNo}}</span>
                <span class="float-right">
                    Time left: {{getTimerInString(hours)}}:{{getTimerInString(minutes)}}:{{getTimerInString(seconds)}}
                </span>
            </p>
            <div class="question-body-wrapper">
                <div class="question-body">
                    <div class="question-text justify-content-center" style="text-align: center !important;" *ngIf="reachedEndText; else questionText">
                        <p>End of Test Reached!<br>You can end the test by clicking on the 'Finish Test' button.<br>
                            <button class="btn btn-sm btn-danger fa fa-power-off" (click)="confirmSubmittingTest()"> Finish Test</button></p>
                    </div>
                    <ng-template #questionText>
                        <div class="question-text">
                            {{topicWiseQuestionsList[currentTopicNo - 1].Questions[currentQuestionNo - 1].Text}}
                        </div>
                        <table>
                            <tbody>
                                <tr class="option" (click)="toggleSelectedOption(option.OptionNo)"
                                *ngFor="let option of topicWiseQuestionsList[currentTopicNo - 1].Questions[currentQuestionNo - 1].Options">
                                    <td class="radio-option-width"><input type="radio" name="option" 
                                        [checked]="topicWiseQuestionsList[currentTopicNo - 1].Questions[currentQuestionNo - 1].SelectedOptionId === option.OptionNo" 
                                        (change)="setSelectedOption(option.OptionNo)"/></td>
                                    <td class="radio-option-width"><strong>{{getFromCharCode(option.OptionNo - 1)}}</strong></td>
                                    <td>{{option.Text}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>
            <div class="center-bottom-pallete p-2">
                <button type="button" class="btn btn-sm btn-primary" (click)="setMarkForReviewMarker()">Mark for Review</button>&nbsp;
                <button type="button" class="btn btn-sm btn-primary" (click)="setSelectedOption(0)">Clear Response</button>
                <span style="float: right;"><button type="button" class="btn btn-sm btn-success" (click)="setNextQuestion()">Save and Next&nbsp;<span class="fa fa-sm fa-arrow-right"></span></button></span>
            </div>
        </div>
        <div class="col-md-3 full-height">
            <div class="positon-relative right-top-pallete">
                <h5 style="text-align: center;">{{topicWiseQuestionsList[currentTopicNo - 1].Name}}</h5>
                <div>
                    <span *ngFor="let question of topicWiseQuestionsList[currentTopicNo - 1].Questions" style="padding-left: 5px;">
                        <div class="qn-no-icon" style="margin:8px;" (click)="scrollAndActivateCurrentQuestion(currentTopicNo,question.Qnumber)"
                        [ngClass]="{'qn-no-icon-active': 'section' + topicWiseQuestionsList[currentTopicNo - 1].TopicNumber + '-qnshort' + question.Qnumber == selectedQuestionNo,
                        'not-answered': question.NotAnswered,
                        'answered': question.Answered,
                        'marked': question.Marked,
                        'marked-and-answered': question.MarkedAndAnswered}">
                            {{question.Qnumber}}
                        </div>
                    </span>
                </div>
            </div>
            <div class="right-bottom-pallete">
                <div class="col-sm-6 mb-2" style="display:inline-block">
                    <div class="marker-icon answered position-absolute"></div>
                    <div style="font-size: 12px; margin-left:20px">&nbsp; Answered</div>
                </div>
                <div class="col-sm-6 mb-2" style="display:inline-block">
                    <div class="marker-icon not-answered position-absolute"></div>
                    <div style="font-size: 12px;margin-left:20px">&nbsp; Not Answered</div>
                </div>
                <div class="col-sm-6 mb-1" style="display:inline-block">
                    <span class="marker-icon marked position-absolute"></span>
                    <span style="font-size: 12px;margin-left:20px">&nbsp; Marked</span>
                </div>
                <div class="col-sm-6 mb-1" style="display:inline-block">
                    <span class="marker-icon not-visited position-absolute"></span>
                    <Span style="font-size: 12px;margin-left:20px">&nbsp;Not Visited</Span>
                </div>
                <div class="col-sm-7" style="display:inline-block">
                    <span class="marker-icon marked-and-answered position-absolute"></span>
                    <span style="font-size: 12px;margin-left:20px">&nbsp;Marked & Answered</span>
                </div>
                <button class="btn btn-lg btn-danger fa fa-power-off" style="width: 100%;" (click)="confirmSubmittingTest()"> Finish Test</button>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body">
        <app-confirmation-dialog 
        [title]="title" [ownMessage]= "true" [message]="message" 
        [btnOkText]="btnOkText" [btnCancelText]="btnCancelText" 
        (messageToReturn) = "alertReturnValue($event)">
        </app-confirmation-dialog>
    </div>
</ng-template>
