<div class="container-fluid online-test-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <fieldset class="border p-2">
                <legend class="w-auto">Select Section</legend>
                <button class="btn btn-light">Quantitive Ability(10)</button>
                <button class="btn btn-light">Reasoning Ability(15)</button>
                <button class="btn btn-light">Verbal Ability(15)</button>
            </fieldset>
            <p>
                <span>Question 1</span>
                <span class="float-right">
                    Time left: 119:59:59
                </span>
            </p>
            <div class="question-body"></div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>