<div class="custom-modal-header">
  <h5 class="center-content">
    {{ title }}
    <span class="btn-close float-right" (click)="dismiss()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </span>
  </h5>
</div>
<div class="custom-modal-body" *ngIf="ownMessage; else presetMessage">
  <p>Confirmation Dialog Works!!</p>
</div>
<ng-template #presetMessage class="custom-modal-body">{{message}}</ng-template>
<div class="custom-modal-footer">
  <div class="row">
    <div class="col-md-4 col-12">
      <button type="button" class="btn btn-default" (click)="decline()">{{ btnCancelText }}</button>
    </div>
    <div class="col-md-8 col-12 right-content">
      <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
    </div>
  </div>
</div>



<!-- <div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="ownMessage; else presetMessage">
  <p>Confirmation Dialog Works!!</p>
</div>
<ng-template #presetMessage class="modal-body">{{message}}</ng-template>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="decline()">{{ btnCancelText }}</button>
  <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
</div> -->