<div class="container user-home-container">
    <div class="row">
        <div class="col-12">
            <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
                <mat-tab label="My Tests">
                    <div class="home-tab-content"></div>
                </mat-tab>
                <mat-tab label="Reccomended Tests">
                    <div class="home-tab-content"></div>
                </mat-tab>
                <mat-tab label="My Profile">
                    <div class="home-tab-content"></div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
